.r-wrapper {
    width: 100vw;
    height: 20vh;
    position: fixed;
    z-index: -1;
}

.r {
    background: white;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    height: 50px;
    position: absolute;
    width: 1px;
  }
  
  .r:nth-of-type(1) {
    animation-name: r-1;
    animation-delay: 12s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 48%;
    opacity: 0.59;
    top: -52%;
  }
  
  @Keyframes r-1 {
    from {
      left: 48%;
      opacity: 0.59;
      top: -52%;
    }
  
    to {
      opacity: 0;
      top: 92%;
    }
  }
  .r:nth-of-type(2) {
    animation-name: r-2;
    animation-delay: 14s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 41%;
    opacity: 0.35;
    top: -51%;
  }
  
  @Keyframes r-2 {
    from {
      left: 41%;
      opacity: 0.35;
      top: -51%;
    }
  
    to {
      opacity: 0;
      top: 91%;
    }
  }
  .r:nth-of-type(3) {
    animation-name: r-3;
    animation-delay: 1s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 81%;
    opacity: 0.6;
    top: -79%;
  }
  
  @Keyframes r-3 {
    from {
      left: 81%;
      opacity: 0.6;
      top: -79%;
    }
  
    to {
      opacity: 0;
      top: 119%;
    }
  }
  .r:nth-of-type(4) {
    animation-name: r-4;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 89%;
    opacity: 0.58;
    top: -98%;
  }
  
  @Keyframes r-4 {
    from {
      left: 89%;
      opacity: 0.58;
      top: -98%;
    }
  
    to {
      opacity: 0;
      top: 138%;
    }
  }
  .r:nth-of-type(5) {
    animation-name: r-5;
    animation-delay: 10s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 47%;
    opacity: 0.4;
    top: -92%;
  }
  
  @Keyframes r-5 {
    from {
      left: 47%;
      opacity: 0.4;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(6) {
    animation-name: r-6;
    animation-delay: 15s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 20%;
    opacity: 0.6;
    top: -86%;
  }
  
  @Keyframes r-6 {
    from {
      left: 20%;
      opacity: 0.6;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(7) {
    animation-name: r-7;
    animation-delay: 5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 87%;
    opacity: 0.58;
    top: -85%;
  }
  
  @Keyframes r-7 {
    from {
      left: 87%;
      opacity: 0.58;
      top: -85%;
    }
  
    to {
      opacity: 0;
      top: 125%;
    }
  }
  .r:nth-of-type(8) {
    animation-name: r-8;
    animation-delay: 6s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 72%;
    opacity: 0.35;
    top: -54%;
  }
  
  @Keyframes r-8 {
    from {
      left: 72%;
      opacity: 0.35;
      top: -54%;
    }
  
    to {
      opacity: 0;
      top: 94%;
    }
  }
  .r:nth-of-type(9) {
    animation-name: r-9;
    animation-delay: 9s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 24%;
    opacity: 0.57;
    top: -60%;
  }
  
  @Keyframes r-9 {
    from {
      left: 24%;
      opacity: 0.57;
      top: -60%;
    }
  
    to {
      opacity: 0;
      top: 100%;
    }
  }
  .r:nth-of-type(10) {
    animation-name: r-10;
    animation-delay: 1s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 81%;
    opacity: 0.58;
    top: -95%;
  }
  
  @Keyframes r-10 {
    from {
      left: 81%;
      opacity: 0.58;
      top: -95%;
    }
  
    to {
      opacity: 0;
      top: 135%;
    }
  }
  .r:nth-of-type(11) {
    animation-name: r-11;
    animation-delay: 15s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 13%;
    opacity: 0.59;
    top: -52%;
  }
  
  @Keyframes r-11 {
    from {
      left: 13%;
      opacity: 0.59;
      top: -52%;
    }
  
    to {
      opacity: 0;
      top: 92%;
    }
  }
  .r:nth-of-type(12) {
    animation-name: r-12;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 75%;
    opacity: 0.49;
    top: -62%;
  }
  
  @Keyframes r-12 {
    from {
      left: 75%;
      opacity: 0.49;
      top: -62%;
    }
  
    to {
      opacity: 0;
      top: 102%;
    }
  }
  .r:nth-of-type(13) {
    animation-name: r-13;
    animation-delay: 10s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 31%;
    opacity: 0.48;
    top: -98%;
  }
  
  @Keyframes r-13 {
    from {
      left: 31%;
      opacity: 0.48;
      top: -98%;
    }
  
    to {
      opacity: 0;
      top: 138%;
    }
  }
  .r:nth-of-type(14) {
    animation-name: r-14;
    animation-delay: 18s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 56%;
    opacity: 0.54;
    top: -97%;
  }
  
  @Keyframes r-14 {
    from {
      left: 56%;
      opacity: 0.54;
      top: -97%;
    }
  
    to {
      opacity: 0;
      top: 137%;
    }
  }
  .r:nth-of-type(15) {
    animation-name: r-15;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 74%;
    opacity: 0.44;
    top: -85%;
  }
  
  @Keyframes r-15 {
    from {
      left: 74%;
      opacity: 0.44;
      top: -85%;
    }
  
    to {
      opacity: 0;
      top: 125%;
    }
  }
  .r:nth-of-type(16) {
    animation-name: r-16;
    animation-delay: 3s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.39;
    top: -60%;
  }
  
  @Keyframes r-16 {
    from {
      left: 52%;
      opacity: 0.39;
      top: -60%;
    }
  
    to {
      opacity: 0;
      top: 100%;
    }
  }
  .r:nth-of-type(17) {
    animation-name: r-17;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 70%;
    opacity: 0.53;
    top: -89%;
  }
  
  @Keyframes r-17 {
    from {
      left: 70%;
      opacity: 0.53;
      top: -89%;
    }
  
    to {
      opacity: 0;
      top: 129%;
    }
  }
  .r:nth-of-type(18) {
    animation-name: r-18;
    animation-delay: 10s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 100%;
    opacity: 0.57;
    top: -59%;
  }
  
  @Keyframes r-18 {
    from {
      left: 100%;
      opacity: 0.57;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(19) {
    animation-name: r-19;
    animation-delay: 18s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 97%;
    opacity: 0.56;
    top: -55%;
  }
  
  @Keyframes r-19 {
    from {
      left: 97%;
      opacity: 0.56;
      top: -55%;
    }
  
    to {
      opacity: 0;
      top: 95%;
    }
  }
  .r:nth-of-type(20) {
    animation-name: r-20;
    animation-delay: 14s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 14%;
    opacity: 0.39;
    top: -66%;
  }
  
  @Keyframes r-20 {
    from {
      left: 14%;
      opacity: 0.39;
      top: -66%;
    }
  
    to {
      opacity: 0;
      top: 106%;
    }
  }
  .r:nth-of-type(21) {
    animation-name: r-21;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 55%;
    opacity: 0.48;
    top: -67%;
  }
  
  @Keyframes r-21 {
    from {
      left: 55%;
      opacity: 0.48;
      top: -67%;
    }
  
    to {
      opacity: 0;
      top: 107%;
    }
  }
  .r:nth-of-type(22) {
    animation-name: r-22;
    animation-delay: 8s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 33%;
    opacity: 0.37;
    top: -86%;
  }
  
  @Keyframes r-22 {
    from {
      left: 33%;
      opacity: 0.37;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(23) {
    animation-name: r-23;
    animation-delay: 5s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 81%;
    opacity: 0.53;
    top: -56%;
  }
  
  @Keyframes r-23 {
    from {
      left: 81%;
      opacity: 0.53;
      top: -56%;
    }
  
    to {
      opacity: 0;
      top: 96%;
    }
  }
  .r:nth-of-type(24) {
    animation-name: r-24;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 69%;
    opacity: 0.38;
    top: -57%;
  }
  
  @Keyframes r-24 {
    from {
      left: 69%;
      opacity: 0.38;
      top: -57%;
    }
  
    to {
      opacity: 0;
      top: 97%;
    }
  }
  .r:nth-of-type(25) {
    animation-name: r-25;
    animation-delay: 16s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 60%;
    opacity: 0.39;
    top: -86%;
  }
  
  @Keyframes r-25 {
    from {
      left: 60%;
      opacity: 0.39;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(26) {
    animation-name: r-26;
    animation-delay: 14s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 43%;
    opacity: 0.49;
    top: -66%;
  }
  
  @Keyframes r-26 {
    from {
      left: 43%;
      opacity: 0.49;
      top: -66%;
    }
  
    to {
      opacity: 0;
      top: 106%;
    }
  }
  .r:nth-of-type(27) {
    animation-name: r-27;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 82%;
    opacity: 0.38;
    top: -87%;
  }
  
  @Keyframes r-27 {
    from {
      left: 82%;
      opacity: 0.38;
      top: -87%;
    }
  
    to {
      opacity: 0;
      top: 127%;
    }
  }
  .r:nth-of-type(28) {
    animation-name: r-28;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 83%;
    opacity: 0.36;
    top: -84%;
  }
  
  @Keyframes r-28 {
    from {
      left: 83%;
      opacity: 0.36;
      top: -84%;
    }
  
    to {
      opacity: 0;
      top: 124%;
    }
  }
  .r:nth-of-type(29) {
    animation-name: r-29;
    animation-delay: 7s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.57;
    top: -69%;
  }
  
  @Keyframes r-29 {
    from {
      left: 52%;
      opacity: 0.57;
      top: -69%;
    }
  
    to {
      opacity: 0;
      top: 109%;
    }
  }
  .r:nth-of-type(30) {
    animation-name: r-30;
    animation-delay: 10s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 75%;
    opacity: 0.31;
    top: -51%;
  }
  
  @Keyframes r-30 {
    from {
      left: 75%;
      opacity: 0.31;
      top: -51%;
    }
  
    to {
      opacity: 0;
      top: 91%;
    }
  }
  .r:nth-of-type(31) {
    animation-name: r-31;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 80%;
    opacity: 0.32;
    top: -86%;
  }
  
  @Keyframes r-31 {
    from {
      left: 80%;
      opacity: 0.32;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(32) {
    animation-name: r-32;
    animation-delay: 8s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 90%;
    opacity: 0.41;
    top: -92%;
  }
  
  @Keyframes r-32 {
    from {
      left: 90%;
      opacity: 0.41;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(33) {
    animation-name: r-33;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 16%;
    opacity: 0.54;
    top: -76%;
  }
  
  @Keyframes r-33 {
    from {
      left: 16%;
      opacity: 0.54;
      top: -76%;
    }
  
    to {
      opacity: 0;
      top: 116%;
    }
  }
  .r:nth-of-type(34) {
    animation-name: r-34;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 84%;
    opacity: 0.39;
    top: -72%;
  }
  
  @Keyframes r-34 {
    from {
      left: 84%;
      opacity: 0.39;
      top: -72%;
    }
  
    to {
      opacity: 0;
      top: 112%;
    }
  }
  .r:nth-of-type(35) {
    animation-name: r-35;
    animation-delay: 17s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 70%;
    opacity: 0.33;
    top: -65%;
  }
  
  @Keyframes r-35 {
    from {
      left: 70%;
      opacity: 0.33;
      top: -65%;
    }
  
    to {
      opacity: 0;
      top: 105%;
    }
  }
  .r:nth-of-type(36) {
    animation-name: r-36;
    animation-delay: 13s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 29%;
    opacity: 0.31;
    top: -90%;
  }
  
  @Keyframes r-36 {
    from {
      left: 29%;
      opacity: 0.31;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(37) {
    animation-name: r-37;
    animation-delay: 8s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 68%;
    opacity: 0.41;
    top: -79%;
  }
  
  @Keyframes r-37 {
    from {
      left: 68%;
      opacity: 0.41;
      top: -79%;
    }
  
    to {
      opacity: 0;
      top: 119%;
    }
  }
  .r:nth-of-type(38) {
    animation-name: r-38;
    animation-delay: 16s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 60%;
    opacity: 0.59;
    top: -100%;
  }
  
  @Keyframes r-38 {
    from {
      left: 60%;
      opacity: 0.59;
      top: -100%;
    }
  
    to {
      opacity: 0;
      top: 140%;
    }
  }
  .r:nth-of-type(39) {
    animation-name: r-39;
    animation-delay: 11s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 81%;
    opacity: 0.36;
    top: -84%;
  }
  
  @Keyframes r-39 {
    from {
      left: 81%;
      opacity: 0.36;
      top: -84%;
    }
  
    to {
      opacity: 0;
      top: 124%;
    }
  }
  .r:nth-of-type(40) {
    animation-name: r-40;
    animation-delay: 15s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 34%;
    opacity: 0.42;
    top: -88%;
  }
  
  @Keyframes r-40 {
    from {
      left: 34%;
      opacity: 0.42;
      top: -88%;
    }
  
    to {
      opacity: 0;
      top: 128%;
    }
  }
  .r:nth-of-type(41) {
    animation-name: r-41;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.5;
    top: -64%;
  }
  
  @Keyframes r-41 {
    from {
      left: 52%;
      opacity: 0.5;
      top: -64%;
    }
  
    to {
      opacity: 0;
      top: 104%;
    }
  }
  .r:nth-of-type(42) {
    animation-name: r-42;
    animation-delay: 3s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 56%;
    opacity: 0.51;
    top: -62%;
  }
  
  @Keyframes r-42 {
    from {
      left: 56%;
      opacity: 0.51;
      top: -62%;
    }
  
    to {
      opacity: 0;
      top: 102%;
    }
  }
  .r:nth-of-type(43) {
    animation-name: r-43;
    animation-delay: 1s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 54%;
    opacity: 0.44;
    top: -84%;
  }
  
  @Keyframes r-43 {
    from {
      left: 54%;
      opacity: 0.44;
      top: -84%;
    }
  
    to {
      opacity: 0;
      top: 124%;
    }
  }
  .r:nth-of-type(44) {
    animation-name: r-44;
    animation-delay: 12s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 67%;
    opacity: 0.42;
    top: -99%;
  }
  
  @Keyframes r-44 {
    from {
      left: 67%;
      opacity: 0.42;
      top: -99%;
    }
  
    to {
      opacity: 0;
      top: 139%;
    }
  }
  .r:nth-of-type(45) {
    animation-name: r-45;
    animation-delay: 10s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 57%;
    opacity: 0.57;
    top: -71%;
  }
  
  @Keyframes r-45 {
    from {
      left: 57%;
      opacity: 0.57;
      top: -71%;
    }
  
    to {
      opacity: 0;
      top: 111%;
    }
  }
  .r:nth-of-type(46) {
    animation-name: r-46;
    animation-delay: 8s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 39%;
    opacity: 0.59;
    top: -54%;
  }
  
  @Keyframes r-46 {
    from {
      left: 39%;
      opacity: 0.59;
      top: -54%;
    }
  
    to {
      opacity: 0;
      top: 94%;
    }
  }
  .r:nth-of-type(47) {
    animation-name: r-47;
    animation-delay: 7s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 29%;
    opacity: 0.57;
    top: -52%;
  }
  
  @Keyframes r-47 {
    from {
      left: 29%;
      opacity: 0.57;
      top: -52%;
    }
  
    to {
      opacity: 0;
      top: 92%;
    }
  }
  .r:nth-of-type(48) {
    animation-name: r-48;
    animation-delay: 14s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 46%;
    opacity: 0.56;
    top: -96%;
  }
  
  @Keyframes r-48 {
    from {
      left: 46%;
      opacity: 0.56;
      top: -96%;
    }
  
    to {
      opacity: 0;
      top: 136%;
    }
  }
  .r:nth-of-type(49) {
    animation-name: r-49;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 24%;
    opacity: 0.51;
    top: -66%;
  }
  
  @Keyframes r-49 {
    from {
      left: 24%;
      opacity: 0.51;
      top: -66%;
    }
  
    to {
      opacity: 0;
      top: 106%;
    }
  }
  .r:nth-of-type(50) {
    animation-name: r-50;
    animation-delay: 7s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 90%;
    opacity: 0.57;
    top: -95%;
  }
  
  @Keyframes r-50 {
    from {
      left: 90%;
      opacity: 0.57;
      top: -95%;
    }
  
    to {
      opacity: 0;
      top: 135%;
    }
  }
  .r:nth-of-type(51) {
    animation-name: r-51;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 83%;
    opacity: 0.47;
    top: -66%;
  }
  
  @Keyframes r-51 {
    from {
      left: 83%;
      opacity: 0.47;
      top: -66%;
    }
  
    to {
      opacity: 0;
      top: 106%;
    }
  }
  .r:nth-of-type(52) {
    animation-name: r-52;
    animation-delay: 10s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 31%;
    opacity: 0.45;
    top: -73%;
  }
  
  @Keyframes r-52 {
    from {
      left: 31%;
      opacity: 0.45;
      top: -73%;
    }
  
    to {
      opacity: 0;
      top: 113%;
    }
  }
  .r:nth-of-type(53) {
    animation-name: r-53;
    animation-delay: 2s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 29%;
    opacity: 0.47;
    top: -71%;
  }
  
  @Keyframes r-53 {
    from {
      left: 29%;
      opacity: 0.47;
      top: -71%;
    }
  
    to {
      opacity: 0;
      top: 111%;
    }
  }
  .r:nth-of-type(54) {
    animation-name: r-54;
    animation-delay: 18s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 78%;
    opacity: 0.33;
    top: -65%;
  }
  
  @Keyframes r-54 {
    from {
      left: 78%;
      opacity: 0.33;
      top: -65%;
    }
  
    to {
      opacity: 0;
      top: 105%;
    }
  }
  .r:nth-of-type(55) {
    animation-name: r-55;
    animation-delay: 7s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 64%;
    opacity: 0.38;
    top: -90%;
  }
  
  @Keyframes r-55 {
    from {
      left: 64%;
      opacity: 0.38;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(56) {
    animation-name: r-56;
    animation-delay: 8s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 9%;
    opacity: 0.32;
    top: -62%;
  }
  
  @Keyframes r-56 {
    from {
      left: 9%;
      opacity: 0.32;
      top: -62%;
    }
  
    to {
      opacity: 0;
      top: 102%;
    }
  }
  .r:nth-of-type(57) {
    animation-name: r-57;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 65%;
    opacity: 0.36;
    top: -79%;
  }
  
  @Keyframes r-57 {
    from {
      left: 65%;
      opacity: 0.36;
      top: -79%;
    }
  
    to {
      opacity: 0;
      top: 119%;
    }
  }
  .r:nth-of-type(58) {
    animation-name: r-58;
    animation-delay: 19s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 89%;
    opacity: 0.37;
    top: -92%;
  }
  
  @Keyframes r-58 {
    from {
      left: 89%;
      opacity: 0.37;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(59) {
    animation-name: r-59;
    animation-delay: 13s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 25%;
    opacity: 0.38;
    top: -74%;
  }
  
  @Keyframes r-59 {
    from {
      left: 25%;
      opacity: 0.38;
      top: -74%;
    }
  
    to {
      opacity: 0;
      top: 114%;
    }
  }
  .r:nth-of-type(60) {
    animation-name: r-60;
    animation-delay: 19s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 36%;
    opacity: 0.45;
    top: -97%;
  }
  
  @Keyframes r-60 {
    from {
      left: 36%;
      opacity: 0.45;
      top: -97%;
    }
  
    to {
      opacity: 0;
      top: 137%;
    }
  }
  .r:nth-of-type(61) {
    animation-name: r-61;
    animation-delay: 0s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 31%;
    opacity: 0.43;
    top: -85%;
  }
  
  @Keyframes r-61 {
    from {
      left: 31%;
      opacity: 0.43;
      top: -85%;
    }
  
    to {
      opacity: 0;
      top: 125%;
    }
  }
  .r:nth-of-type(62) {
    animation-name: r-62;
    animation-delay: 8s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 25%;
    opacity: 0.41;
    top: -96%;
  }
  
  @Keyframes r-62 {
    from {
      left: 25%;
      opacity: 0.41;
      top: -96%;
    }
  
    to {
      opacity: 0;
      top: 136%;
    }
  }
  .r:nth-of-type(63) {
    animation-name: r-63;
    animation-delay: 16s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 59%;
    opacity: 0.53;
    top: -90%;
  }
  
  @Keyframes r-63 {
    from {
      left: 59%;
      opacity: 0.53;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(64) {
    animation-name: r-64;
    animation-delay: 18s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 79%;
    opacity: 0.41;
    top: -99%;
  }
  
  @Keyframes r-64 {
    from {
      left: 79%;
      opacity: 0.41;
      top: -99%;
    }
  
    to {
      opacity: 0;
      top: 139%;
    }
  }
  .r:nth-of-type(65) {
    animation-name: r-65;
    animation-delay: 9s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 57%;
    opacity: 0.38;
    top: -86%;
  }
  
  @Keyframes r-65 {
    from {
      left: 57%;
      opacity: 0.38;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(66) {
    animation-name: r-66;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 97%;
    opacity: 0.38;
    top: -93%;
  }
  
  @Keyframes r-66 {
    from {
      left: 97%;
      opacity: 0.38;
      top: -93%;
    }
  
    to {
      opacity: 0;
      top: 133%;
    }
  }
  .r:nth-of-type(67) {
    animation-name: r-67;
    animation-delay: 16s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 83%;
    opacity: 0.39;
    top: -76%;
  }
  
  @Keyframes r-67 {
    from {
      left: 83%;
      opacity: 0.39;
      top: -76%;
    }
  
    to {
      opacity: 0;
      top: 116%;
    }
  }
  .r:nth-of-type(68) {
    animation-name: r-68;
    animation-delay: 6s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 31%;
    opacity: 0.52;
    top: -90%;
  }
  
  @Keyframes r-68 {
    from {
      left: 31%;
      opacity: 0.52;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(69) {
    animation-name: r-69;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 16%;
    opacity: 0.56;
    top: -73%;
  }
  
  @Keyframes r-69 {
    from {
      left: 16%;
      opacity: 0.56;
      top: -73%;
    }
  
    to {
      opacity: 0;
      top: 113%;
    }
  }
  .r:nth-of-type(70) {
    animation-name: r-70;
    animation-delay: 14s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 80%;
    opacity: 0.59;
    top: -71%;
  }
  
  @Keyframes r-70 {
    from {
      left: 80%;
      opacity: 0.59;
      top: -71%;
    }
  
    to {
      opacity: 0;
      top: 111%;
    }
  }
  .r:nth-of-type(71) {
    animation-name: r-71;
    animation-delay: 13s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 63%;
    opacity: 0.31;
    top: -59%;
  }
  
  @Keyframes r-71 {
    from {
      left: 63%;
      opacity: 0.31;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(72) {
    animation-name: r-72;
    animation-delay: 7s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 22%;
    opacity: 0.37;
    top: -68%;
  }
  
  @Keyframes r-72 {
    from {
      left: 22%;
      opacity: 0.37;
      top: -68%;
    }
  
    to {
      opacity: 0;
      top: 108%;
    }
  }
  .r:nth-of-type(73) {
    animation-name: r-73;
    animation-delay: 19s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 89%;
    opacity: 0.5;
    top: -99%;
  }
  
  @Keyframes r-73 {
    from {
      left: 89%;
      opacity: 0.5;
      top: -99%;
    }
  
    to {
      opacity: 0;
      top: 139%;
    }
  }
  .r:nth-of-type(74) {
    animation-name: r-74;
    animation-delay: 12s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.5;
    top: -68%;
  }
  
  @Keyframes r-74 {
    from {
      left: 52%;
      opacity: 0.5;
      top: -68%;
    }
  
    to {
      opacity: 0;
      top: 108%;
    }
  }
  .r:nth-of-type(75) {
    animation-name: r-75;
    animation-delay: 6s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 80%;
    opacity: 0.52;
    top: -73%;
  }
  
  @Keyframes r-75 {
    from {
      left: 80%;
      opacity: 0.52;
      top: -73%;
    }
  
    to {
      opacity: 0;
      top: 113%;
    }
  }
  .r:nth-of-type(76) {
    animation-name: r-76;
    animation-delay: 1s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 61%;
    opacity: 0.44;
    top: -61%;
  }
  
  @Keyframes r-76 {
    from {
      left: 61%;
      opacity: 0.44;
      top: -61%;
    }
  
    to {
      opacity: 0;
      top: 101%;
    }
  }
  .r:nth-of-type(77) {
    animation-name: r-77;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 69%;
    opacity: 0.47;
    top: -61%;
  }
  
  @Keyframes r-77 {
    from {
      left: 69%;
      opacity: 0.47;
      top: -61%;
    }
  
    to {
      opacity: 0;
      top: 101%;
    }
  }
  .r:nth-of-type(78) {
    animation-name: r-78;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 9%;
    opacity: 0.47;
    top: -82%;
  }
  
  @Keyframes r-78 {
    from {
      left: 9%;
      opacity: 0.47;
      top: -82%;
    }
  
    to {
      opacity: 0;
      top: 122%;
    }
  }
  .r:nth-of-type(79) {
    animation-name: r-79;
    animation-delay: 16s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 7%;
    opacity: 0.49;
    top: -89%;
  }
  
  @Keyframes r-79 {
    from {
      left: 7%;
      opacity: 0.49;
      top: -89%;
    }
  
    to {
      opacity: 0;
      top: 129%;
    }
  }
  .r:nth-of-type(80) {
    animation-name: r-80;
    animation-delay: 8s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 19%;
    opacity: 0.58;
    top: -57%;
  }
  
  @Keyframes r-80 {
    from {
      left: 19%;
      opacity: 0.58;
      top: -57%;
    }
  
    to {
      opacity: 0;
      top: 97%;
    }
  }
  .r:nth-of-type(81) {
    animation-name: r-81;
    animation-delay: 11s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 94%;
    opacity: 0.49;
    top: -68%;
  }
  
  @Keyframes r-81 {
    from {
      left: 94%;
      opacity: 0.49;
      top: -68%;
    }
  
    to {
      opacity: 0;
      top: 108%;
    }
  }
  .r:nth-of-type(82) {
    animation-name: r-82;
    animation-delay: 15s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 34%;
    opacity: 0.56;
    top: -68%;
  }
  
  @Keyframes r-82 {
    from {
      left: 34%;
      opacity: 0.56;
      top: -68%;
    }
  
    to {
      opacity: 0;
      top: 108%;
    }
  }
  .r:nth-of-type(83) {
    animation-name: r-83;
    animation-delay: 8s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 84%;
    opacity: 0.56;
    top: -80%;
  }
  
  @Keyframes r-83 {
    from {
      left: 84%;
      opacity: 0.56;
      top: -80%;
    }
  
    to {
      opacity: 0;
      top: 120%;
    }
  }
  .r:nth-of-type(84) {
    animation-name: r-84;
    animation-delay: 7s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 88%;
    opacity: 0.51;
    top: -97%;
  }
  
  @Keyframes r-84 {
    from {
      left: 88%;
      opacity: 0.51;
      top: -97%;
    }
  
    to {
      opacity: 0;
      top: 137%;
    }
  }
  .r:nth-of-type(85) {
    animation-name: r-85;
    animation-delay: 17s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.43;
    top: -83%;
  }
  
  @Keyframes r-85 {
    from {
      left: 52%;
      opacity: 0.43;
      top: -83%;
    }
  
    to {
      opacity: 0;
      top: 123%;
    }
  }
  .r:nth-of-type(86) {
    animation-name: r-86;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 50%;
    opacity: 0.49;
    top: -99%;
  }
  
  @Keyframes r-86 {
    from {
      left: 50%;
      opacity: 0.49;
      top: -99%;
    }
  
    to {
      opacity: 0;
      top: 139%;
    }
  }
  .r:nth-of-type(87) {
    animation-name: r-87;
    animation-delay: 15s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 89%;
    opacity: 0.35;
    top: -76%;
  }
  
  @Keyframes r-87 {
    from {
      left: 89%;
      opacity: 0.35;
      top: -76%;
    }
  
    to {
      opacity: 0;
      top: 116%;
    }
  }
  .r:nth-of-type(88) {
    animation-name: r-88;
    animation-delay: 14s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 100%;
    opacity: 0.38;
    top: -53%;
  }
  
  @Keyframes r-88 {
    from {
      left: 100%;
      opacity: 0.38;
      top: -53%;
    }
  
    to {
      opacity: 0;
      top: 93%;
    }
  }
  .r:nth-of-type(89) {
    animation-name: r-89;
    animation-delay: 14s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 5%;
    opacity: 0.55;
    top: -87%;
  }
  
  @Keyframes r-89 {
    from {
      left: 5%;
      opacity: 0.55;
      top: -87%;
    }
  
    to {
      opacity: 0;
      top: 127%;
    }
  }
  .r:nth-of-type(90) {
    animation-name: r-90;
    animation-delay: 7s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 59%;
    opacity: 0.46;
    top: -67%;
  }
  
  @Keyframes r-90 {
    from {
      left: 59%;
      opacity: 0.46;
      top: -67%;
    }
  
    to {
      opacity: 0;
      top: 107%;
    }
  }
  .r:nth-of-type(91) {
    animation-name: r-91;
    animation-delay: 16s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 36%;
    opacity: 0.4;
    top: -97%;
  }
  
  @Keyframes r-91 {
    from {
      left: 36%;
      opacity: 0.4;
      top: -97%;
    }
  
    to {
      opacity: 0;
      top: 137%;
    }
  }
  .r:nth-of-type(92) {
    animation-name: r-92;
    animation-delay: 18s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 95%;
    opacity: 0.37;
    top: -62%;
  }
  
  @Keyframes r-92 {
    from {
      left: 95%;
      opacity: 0.37;
      top: -62%;
    }
  
    to {
      opacity: 0;
      top: 102%;
    }
  }
  .r:nth-of-type(93) {
    animation-name: r-93;
    animation-delay: 16s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 55%;
    opacity: 0.45;
    top: -68%;
  }
  
  @Keyframes r-93 {
    from {
      left: 55%;
      opacity: 0.45;
      top: -68%;
    }
  
    to {
      opacity: 0;
      top: 108%;
    }
  }
  .r:nth-of-type(94) {
    animation-name: r-94;
    animation-delay: 15s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 78%;
    opacity: 0.4;
    top: -89%;
  }
  
  @Keyframes r-94 {
    from {
      left: 78%;
      opacity: 0.4;
      top: -89%;
    }
  
    to {
      opacity: 0;
      top: 129%;
    }
  }
  .r:nth-of-type(95) {
    animation-name: r-95;
    animation-delay: 13s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 60%;
    opacity: 0.49;
    top: -51%;
  }
  
  @Keyframes r-95 {
    from {
      left: 60%;
      opacity: 0.49;
      top: -51%;
    }
  
    to {
      opacity: 0;
      top: 91%;
    }
  }
  .r:nth-of-type(96) {
    animation-name: r-96;
    animation-delay: 14s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 53%;
    opacity: 0.54;
    top: -59%;
  }
  
  @Keyframes r-96 {
    from {
      left: 53%;
      opacity: 0.54;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(97) {
    animation-name: r-97;
    animation-delay: 2s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 32%;
    opacity: 0.6;
    top: -73%;
  }
  
  @Keyframes r-97 {
    from {
      left: 32%;
      opacity: 0.6;
      top: -73%;
    }
  
    to {
      opacity: 0;
      top: 113%;
    }
  }
  .r:nth-of-type(98) {
    animation-name: r-98;
    animation-delay: 19s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 11%;
    opacity: 0.45;
    top: -84%;
  }
  
  @Keyframes r-98 {
    from {
      left: 11%;
      opacity: 0.45;
      top: -84%;
    }
  
    to {
      opacity: 0;
      top: 124%;
    }
  }
  .r:nth-of-type(99) {
    animation-name: r-99;
    animation-delay: 6s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 36%;
    opacity: 0.35;
    top: -94%;
  }
  
  @Keyframes r-99 {
    from {
      left: 36%;
      opacity: 0.35;
      top: -94%;
    }
  
    to {
      opacity: 0;
      top: 134%;
    }
  }
  .r:nth-of-type(100) {
    animation-name: r-100;
    animation-delay: 8s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 21%;
    opacity: 0.54;
    top: -78%;
  }
  
  @Keyframes r-100 {
    from {
      left: 21%;
      opacity: 0.54;
      top: -78%;
    }
  
    to {
      opacity: 0;
      top: 118%;
    }
  }
  .r:nth-of-type(101) {
    animation-name: r-101;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 76%;
    opacity: 0.36;
    top: -90%;
  }
  
  @Keyframes r-101 {
    from {
      left: 76%;
      opacity: 0.36;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(102) {
    animation-name: r-102;
    animation-delay: 4s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 49%;
    opacity: 0.51;
    top: -72%;
  }
  
  @Keyframes r-102 {
    from {
      left: 49%;
      opacity: 0.51;
      top: -72%;
    }
  
    to {
      opacity: 0;
      top: 112%;
    }
  }
  .r:nth-of-type(103) {
    animation-name: r-103;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 70%;
    opacity: 0.57;
    top: -59%;
  }
  
  @Keyframes r-103 {
    from {
      left: 70%;
      opacity: 0.57;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(104) {
    animation-name: r-104;
    animation-delay: 17s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 50%;
    opacity: 0.43;
    top: -55%;
  }
  
  @Keyframes r-104 {
    from {
      left: 50%;
      opacity: 0.43;
      top: -55%;
    }
  
    to {
      opacity: 0;
      top: 95%;
    }
  }
  .r:nth-of-type(105) {
    animation-name: r-105;
    animation-delay: 15s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 44%;
    opacity: 0.55;
    top: -78%;
  }
  
  @Keyframes r-105 {
    from {
      left: 44%;
      opacity: 0.55;
      top: -78%;
    }
  
    to {
      opacity: 0;
      top: 118%;
    }
  }
  .r:nth-of-type(106) {
    animation-name: r-106;
    animation-delay: 16s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 22%;
    opacity: 0.56;
    top: -77%;
  }
  
  @Keyframes r-106 {
    from {
      left: 22%;
      opacity: 0.56;
      top: -77%;
    }
  
    to {
      opacity: 0;
      top: 117%;
    }
  }
  .r:nth-of-type(107) {
    animation-name: r-107;
    animation-delay: 7s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 87%;
    opacity: 0.34;
    top: -92%;
  }
  
  @Keyframes r-107 {
    from {
      left: 87%;
      opacity: 0.34;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(108) {
    animation-name: r-108;
    animation-delay: 16s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 30%;
    opacity: 0.39;
    top: -59%;
  }
  
  @Keyframes r-108 {
    from {
      left: 30%;
      opacity: 0.39;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(109) {
    animation-name: r-109;
    animation-delay: 7s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 11%;
    opacity: 0.48;
    top: -60%;
  }
  
  @Keyframes r-109 {
    from {
      left: 11%;
      opacity: 0.48;
      top: -60%;
    }
  
    to {
      opacity: 0;
      top: 100%;
    }
  }
  .r:nth-of-type(110) {
    animation-name: r-110;
    animation-delay: 5s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 28%;
    opacity: 0.32;
    top: -82%;
  }
  
  @Keyframes r-110 {
    from {
      left: 28%;
      opacity: 0.32;
      top: -82%;
    }
  
    to {
      opacity: 0;
      top: 122%;
    }
  }
  .r:nth-of-type(111) {
    animation-name: r-111;
    animation-delay: 7s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 70%;
    opacity: 0.48;
    top: -92%;
  }
  
  @Keyframes r-111 {
    from {
      left: 70%;
      opacity: 0.48;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(112) {
    animation-name: r-112;
    animation-delay: 3s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 8%;
    opacity: 0.38;
    top: -87%;
  }
  
  @Keyframes r-112 {
    from {
      left: 8%;
      opacity: 0.38;
      top: -87%;
    }
  
    to {
      opacity: 0;
      top: 127%;
    }
  }
  .r:nth-of-type(113) {
    animation-name: r-113;
    animation-delay: 11s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 95%;
    opacity: 0.42;
    top: -86%;
  }
  
  @Keyframes r-113 {
    from {
      left: 95%;
      opacity: 0.42;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(114) {
    animation-name: r-114;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 95%;
    opacity: 0.45;
    top: -61%;
  }
  
  @Keyframes r-114 {
    from {
      left: 95%;
      opacity: 0.45;
      top: -61%;
    }
  
    to {
      opacity: 0;
      top: 101%;
    }
  }
  .r:nth-of-type(115) {
    animation-name: r-115;
    animation-delay: 3s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 34%;
    opacity: 0.53;
    top: -71%;
  }
  
  @Keyframes r-115 {
    from {
      left: 34%;
      opacity: 0.53;
      top: -71%;
    }
  
    to {
      opacity: 0;
      top: 111%;
    }
  }
  .r:nth-of-type(116) {
    animation-name: r-116;
    animation-delay: 8s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 44%;
    opacity: 0.32;
    top: -92%;
  }
  
  @Keyframes r-116 {
    from {
      left: 44%;
      opacity: 0.32;
      top: -92%;
    }
  
    to {
      opacity: 0;
      top: 132%;
    }
  }
  .r:nth-of-type(117) {
    animation-name: r-117;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 83%;
    opacity: 0.37;
    top: -66%;
  }
  
  @Keyframes r-117 {
    from {
      left: 83%;
      opacity: 0.37;
      top: -66%;
    }
  
    to {
      opacity: 0;
      top: 106%;
    }
  }
  .r:nth-of-type(118) {
    animation-name: r-118;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 19%;
    opacity: 0.51;
    top: -87%;
  }
  
  @Keyframes r-118 {
    from {
      left: 19%;
      opacity: 0.51;
      top: -87%;
    }
  
    to {
      opacity: 0;
      top: 127%;
    }
  }
  .r:nth-of-type(119) {
    animation-name: r-119;
    animation-delay: 0s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 21%;
    opacity: 0.51;
    top: -82%;
  }
  
  @Keyframes r-119 {
    from {
      left: 21%;
      opacity: 0.51;
      top: -82%;
    }
  
    to {
      opacity: 0;
      top: 122%;
    }
  }
  .r:nth-of-type(120) {
    animation-name: r-120;
    animation-delay: 18s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 78%;
    opacity: 0.33;
    top: -70%;
  }
  
  @Keyframes r-120 {
    from {
      left: 78%;
      opacity: 0.33;
      top: -70%;
    }
  
    to {
      opacity: 0;
      top: 110%;
    }
  }
  .r:nth-of-type(121) {
    animation-name: r-121;
    animation-delay: 17s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 83%;
    opacity: 0.49;
    top: -61%;
  }
  
  @Keyframes r-121 {
    from {
      left: 83%;
      opacity: 0.49;
      top: -61%;
    }
  
    to {
      opacity: 0;
      top: 101%;
    }
  }
  .r:nth-of-type(122) {
    animation-name: r-122;
    animation-delay: 1s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 48%;
    opacity: 0.41;
    top: -82%;
  }
  
  @Keyframes r-122 {
    from {
      left: 48%;
      opacity: 0.41;
      top: -82%;
    }
  
    to {
      opacity: 0;
      top: 122%;
    }
  }
  .r:nth-of-type(123) {
    animation-name: r-123;
    animation-delay: 6s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 81%;
    opacity: 0.59;
    top: -95%;
  }
  
  @Keyframes r-123 {
    from {
      left: 81%;
      opacity: 0.59;
      top: -95%;
    }
  
    to {
      opacity: 0;
      top: 135%;
    }
  }
  .r:nth-of-type(124) {
    animation-name: r-124;
    animation-delay: 13s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 24%;
    opacity: 0.4;
    top: -59%;
  }
  
  @Keyframes r-124 {
    from {
      left: 24%;
      opacity: 0.4;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(125) {
    animation-name: r-125;
    animation-delay: 19s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 80%;
    opacity: 0.57;
    top: -89%;
  }
  
  @Keyframes r-125 {
    from {
      left: 80%;
      opacity: 0.57;
      top: -89%;
    }
  
    to {
      opacity: 0;
      top: 129%;
    }
  }
  .r:nth-of-type(126) {
    animation-name: r-126;
    animation-delay: 9s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 61%;
    opacity: 0.43;
    top: -74%;
  }
  
  @Keyframes r-126 {
    from {
      left: 61%;
      opacity: 0.43;
      top: -74%;
    }
  
    to {
      opacity: 0;
      top: 114%;
    }
  }
  .r:nth-of-type(127) {
    animation-name: r-127;
    animation-delay: 4s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 8%;
    opacity: 0.33;
    top: -78%;
  }
  
  @Keyframes r-127 {
    from {
      left: 8%;
      opacity: 0.33;
      top: -78%;
    }
  
    to {
      opacity: 0;
      top: 118%;
    }
  }
  .r:nth-of-type(128) {
    animation-name: r-128;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 24%;
    opacity: 0.53;
    top: -86%;
  }
  
  @Keyframes r-128 {
    from {
      left: 24%;
      opacity: 0.53;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(129) {
    animation-name: r-129;
    animation-delay: 17s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 97%;
    opacity: 0.31;
    top: -99%;
  }
  
  @Keyframes r-129 {
    from {
      left: 97%;
      opacity: 0.31;
      top: -99%;
    }
  
    to {
      opacity: 0;
      top: 139%;
    }
  }
  .r:nth-of-type(130) {
    animation-name: r-130;
    animation-delay: 5s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 15%;
    opacity: 0.5;
    top: -65%;
  }
  
  @Keyframes r-130 {
    from {
      left: 15%;
      opacity: 0.5;
      top: -65%;
    }
  
    to {
      opacity: 0;
      top: 105%;
    }
  }
  .r:nth-of-type(131) {
    animation-name: r-131;
    animation-delay: 18s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 92%;
    opacity: 0.32;
    top: -90%;
  }
  
  @Keyframes r-131 {
    from {
      left: 92%;
      opacity: 0.32;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(132) {
    animation-name: r-132;
    animation-delay: 9s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 1%;
    opacity: 0.51;
    top: -74%;
  }
  
  @Keyframes r-132 {
    from {
      left: 1%;
      opacity: 0.51;
      top: -74%;
    }
  
    to {
      opacity: 0;
      top: 114%;
    }
  }
  .r:nth-of-type(133) {
    animation-name: r-133;
    animation-delay: 4s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 11%;
    opacity: 0.31;
    top: -86%;
  }
  
  @Keyframes r-133 {
    from {
      left: 11%;
      opacity: 0.31;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }
  .r:nth-of-type(134) {
    animation-name: r-134;
    animation-delay: 11s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 95%;
    opacity: 0.48;
    top: -57%;
  }
  
  @Keyframes r-134 {
    from {
      left: 95%;
      opacity: 0.48;
      top: -57%;
    }
  
    to {
      opacity: 0;
      top: 97%;
    }
  }
  .r:nth-of-type(135) {
    animation-name: r-135;
    animation-delay: 10s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 29%;
    opacity: 0.39;
    top: -95%;
  }
  
  @Keyframes r-135 {
    from {
      left: 29%;
      opacity: 0.39;
      top: -95%;
    }
  
    to {
      opacity: 0;
      top: 135%;
    }
  }
  .r:nth-of-type(136) {
    animation-name: r-136;
    animation-delay: 13s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 64%;
    opacity: 0.38;
    top: -80%;
  }
  
  @Keyframes r-136 {
    from {
      left: 64%;
      opacity: 0.38;
      top: -80%;
    }
  
    to {
      opacity: 0;
      top: 120%;
    }
  }
  .r:nth-of-type(137) {
    animation-name: r-137;
    animation-delay: 5s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 75%;
    opacity: 0.49;
    top: -56%;
  }
  
  @Keyframes r-137 {
    from {
      left: 75%;
      opacity: 0.49;
      top: -56%;
    }
  
    to {
      opacity: 0;
      top: 96%;
    }
  }
  .r:nth-of-type(138) {
    animation-name: r-138;
    animation-delay: 17s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 80%;
    opacity: 0.35;
    top: -56%;
  }
  
  @Keyframes r-138 {
    from {
      left: 80%;
      opacity: 0.35;
      top: -56%;
    }
  
    to {
      opacity: 0;
      top: 96%;
    }
  }
  .r:nth-of-type(139) {
    animation-name: r-139;
    animation-delay: 1s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 6%;
    opacity: 0.39;
    top: -78%;
  }
  
  @Keyframes r-139 {
    from {
      left: 6%;
      opacity: 0.39;
      top: -78%;
    }
  
    to {
      opacity: 0;
      top: 118%;
    }
  }
  .r:nth-of-type(140) {
    animation-name: r-140;
    animation-delay: 0s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 64%;
    opacity: 0.52;
    top: -82%;
  }
  
  @Keyframes r-140 {
    from {
      left: 64%;
      opacity: 0.52;
      top: -82%;
    }
  
    to {
      opacity: 0;
      top: 122%;
    }
  }
  .r:nth-of-type(141) {
    animation-name: r-141;
    animation-delay: 4s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 84%;
    opacity: 0.56;
    top: -59%;
  }
  
  @Keyframes r-141 {
    from {
      left: 84%;
      opacity: 0.56;
      top: -59%;
    }
  
    to {
      opacity: 0;
      top: 99%;
    }
  }
  .r:nth-of-type(142) {
    animation-name: r-142;
    animation-delay: 14s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 91%;
    opacity: 0.41;
    top: -65%;
  }
  
  @Keyframes r-142 {
    from {
      left: 91%;
      opacity: 0.41;
      top: -65%;
    }
  
    to {
      opacity: 0;
      top: 105%;
    }
  }
  .r:nth-of-type(143) {
    animation-name: r-143;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 70%;
    opacity: 0.42;
    top: -90%;
  }
  
  @Keyframes r-143 {
    from {
      left: 70%;
      opacity: 0.42;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(144) {
    animation-name: r-144;
    animation-delay: 0s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 56%;
    opacity: 0.5;
    top: -90%;
  }
  
  @Keyframes r-144 {
    from {
      left: 56%;
      opacity: 0.5;
      top: -90%;
    }
  
    to {
      opacity: 0;
      top: 130%;
    }
  }
  .r:nth-of-type(145) {
    animation-name: r-145;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 47%;
    opacity: 0.45;
    top: -84%;
  }
  
  @Keyframes r-145 {
    from {
      left: 47%;
      opacity: 0.45;
      top: -84%;
    }
  
    to {
      opacity: 0;
      top: 124%;
    }
  }
  .r:nth-of-type(146) {
    animation-name: r-146;
    animation-delay: 6s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 75%;
    opacity: 0.32;
    top: -61%;
  }
  
  @Keyframes r-146 {
    from {
      left: 75%;
      opacity: 0.32;
      top: -61%;
    }
  
    to {
      opacity: 0;
      top: 101%;
    }
  }
  .r:nth-of-type(147) {
    animation-name: r-147;
    animation-delay: 4s;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    left: 20%;
    opacity: 0.46;
    top: -94%;
  }
  
  @Keyframes r-147 {
    from {
      left: 20%;
      opacity: 0.46;
      top: -94%;
    }
  
    to {
      opacity: 0;
      top: 134%;
    }
  }
  .r:nth-of-type(148) {
    animation-name: r-148;
    animation-delay: 12s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    left: 52%;
    opacity: 0.32;
    top: -93%;
  }
  
  @Keyframes r-148 {
    from {
      left: 52%;
      opacity: 0.32;
      top: -93%;
    }
  
    to {
      opacity: 0;
      top: 133%;
    }
  }
  .r:nth-of-type(149) {
    animation-name: r-149;
    animation-delay: 18s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 15%;
    opacity: 0.32;
    top: -89%;
  }
  
  @Keyframes r-149 {
    from {
      left: 15%;
      opacity: 0.32;
      top: -89%;
    }
  
    to {
      opacity: 0;
      top: 129%;
    }
  }
  .r:nth-of-type(150) {
    animation-name: r-150;
    animation-delay: 6s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    left: 45%;
    opacity: 0.45;
    top: -86%;
  }
  
  @Keyframes r-150 {
    from {
      left: 45%;
      opacity: 0.45;
      top: -86%;
    }
  
    to {
      opacity: 0;
      top: 126%;
    }
  }